<template>
  <article class="question animate__animated animate__bounceIn">
      <span class="question__title" v-html="question.question" />
      <div class="question__answers">
        <Button v-for="q in answers" :key="q" @click="onAnswerClick(q)" :text="q"/>
      </div>
  </article>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Button from '@/components/Button/Button'

export default {
  name: 'QuestionItem',
  props: ['question'],
  components: { Button },
  computed: {
    ...mapGetters(['answers'])
  },
  methods: {
    ...mapActions(['goToNextQuestion', 'answerQuestion']),
    onAnswerClick(answer) {
      this.answerQuestion(answer)
      this.goToNextQuestion();
    }
  },
}
</script>

<style scoped>
.question {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 1rem;
  margin: 1rem;
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.question:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.question__answers {
  display: grid;
}
</style>