<template>
  <section class="questions">
        <div v-if="isLoading" class="questions__loading">
            <h1>Loading questions...</h1>
        </div>
        <div v-else-if="error" class="questions--error">
            <h1>Error Loading questions...</h1>
            <Button :text="'Home'" :big="true" @click="onHomeClick"/>
        </div>
        <div v-else>
            <QuestionItem :question="questions[questionIndex]" :key="questions[questionIndex].question" />
        </div>
  </section>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'
import QuestionItem from '@/components/Trivia/QuestionItem'
import Button from '@/components/Button/Button'

export default {
    name: 'Questions',
    components: { QuestionItem, Button },
    computed: {
        ...mapState(['questions', 'error', 'questionIndex', 'isLoading'])
    },
    created() {
        this.getTriviaQuestions()
    },
    methods: {
        ...mapActions(['getTriviaQuestions', 'goToNextQuestion']),
        ...mapMutations(['setQuestions']),
        onHomeClick() {
            this.$router.push('/')
        }
    }
}
</script>

<style scoped>
.questions {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions__loading {
    color: white;
}

.questions--error {
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 1rem;
    margin: 1rem;
    max-width: 400px;
    display: grid;
    gap: 1rem;
    text-align: center;
    color: var(--error-color);
    background-color: white;
}

.questions--error:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
</style>