<template>
    <section @keydown.enter="onStart" class="home animate__animated animate__fadeIn">
        <h1 class="title">Welcome to Trivia</h1>
        <article class="settings">
            <label for="numberOfQuestions">Number of questions</label>
            <input class="settings__input" @input="onNumberOfQuestionsChange" name="numberOfQuestions" type="number" :value="numberOfQuestions" placeholder="1 to 50">
            <span v-if="formError.numberError" class="settings__input--error">{{formError.message}}</span>
            <label for="numberOfQuestions">Difficulty level</label>
            <select class="settings__input" @input="onDifficultyChange" name="difficulty">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
            <label for="numberOfQuestions">Category</label>
            <select class="settings__input" @input="onCategoryChange" name="category">
                <option v-for="category in categories" :key="category.id" :value="category.id">{{category.name}}</option>
            </select>
        </article>
        
        <Button :text="'Start Game'" :bounce="true" :big="true" @click="onStart"/>
    </section>
</template>

<script>
import { mapMutations, mapActions, mapState } from 'vuex'
import Button from '@/components/Button/Button'

export default {
    name: 'Home',
    components: { Button },
    data() {
        return {
            formError: {
                numberError: false,
                message: ''
            }
        }
    },
    watch: {
        numberOfQuestions(value) {
            this.validateNumber(value)
        }
    },
    computed: {
        ...mapState(['error', 'categories', 'numberOfQuestions', 'difficulty', 'selectedCategory', 'isLoading'])
    },
    methods: {
        ...mapMutations(['setNumberOfQuestions', 'setSelectedCategory', 'setDifficulty']),
        ...mapActions(['getTriviaCategories']),
        onStart() {
            if(this.formError.numberError || this.numberOfQuestions === '') return
            this.$router.push('/trivia')
        },
        onNumberOfQuestionsChange(e) {
            this.setNumberOfQuestions(e.target.value)
        },
        onCategoryChange(e) {
            this.setSelectedCategory(e.target.value)
        },
        onDifficultyChange(e) {
            this.setDifficulty(e.target.value)
        },
        validateNumber(value) {
            if(value == '') return

            if(value < 1) {
                this.formError.message = 'Minimum value is 1'
                this.formError.numberError = true
            } else if(value > 50) {
                this.formError.message = 'Maximum value is 50'
                this.formError.numberError = true
            } else {
                this.formError.message = ''
                this.formError.numberError = false
            }
        }
    },
    created() {
        this.getTriviaCategories()
        this.setNumberOfQuestions('')
    },
}
</script>

<style scoped>
.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    text-align: center;
    margin: 0;
}

.settings {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 1rem;
    margin: 1rem;
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.settings:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.settings__input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.2em; 
}

.settings__input--error {
    grid-column: 1/3;
    color: var(--error-color);
    text-align: right;
}
</style>