<template>
  <header class="header">
      <router-link to="/" class="header__title">Trivia</router-link>
  </header>
</template>

<script>
export default {

}
</script>

<style scoped>
.header {
    height: 4rem;
    background-color: var(--primary-color-variant);
    position: absolute;
    top: 0;
    padding: .5rem;
}

.header__title {
    color: white;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}
</style>