<template>
  <section class="animate__animated animate__fadeIn">
      <div v-if="questions.length" class="results">
      <h1 class="results__title">You scored {{score}} / {{questions.length * 10}} points!</h1>
      <div class="results__buttons">
        <Button @click="onPlayAgainClick" :text="'Play again'"/>
        <Button @click="onHomeClick" :text="'Home'"/>
      </div>
      <ResultItem v-for="question in questions" :question="question" :key="question.question" />
      </div>
      <div v-else class="results--error">
        <Button @click="onHomeClick" :big="true" :text="'Take a Quiz!'"/>
      </div>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import ResultItem from '@/components/Result/ResultItem'
import Button from '@/components/Button/Button'

export default {
  name: 'Results',
  data() {
    return {
      score: 0
    }
  },
  computed: {
    ...mapState(['questions'])
  },
  components: { ResultItem, Button },
  created() {
    this.score = this.questions.reduce((score, q) => {
          return q.answer === q.correct_answer ? score + 10 : score + 0
      }, 0)
  },
  methods: {
    onPlayAgainClick() {
      this.$router.push('/trivia')
    },
    onHomeClick() {
      this.$router.push('/')
    }
  }
}
</script>

<style scoped>
.results {
    margin-top: 6.5rem;
    min-height: 95vh;
}

.results__title {
  text-align: center;
  color: white;
}

.results__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results--error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>